:root {
  --atom-icon-size: 20px;
  --atom-monochrome: none;
  --toggle-width: 2rem;
}

.octicon-pencil,
.atomIcon,
.atomIcon svg {
  width: var(--atom-icon-size);
  height: var(--atom-icon-size);
  filter: var(--atom-monochrome);
}

/* GitHub */
.js-details-container .Box-row {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* GitLab */
.tree-item-link {
  display: flex !important;
  align-items: center !important;
  gap: 8px !important;
}

/*.rgh-quick-file-edit,*/
/*.Box-row > div:first-child {*/
/*  display: flex;*/
/*  width: auto !important;*/
/*}*/

.atomIcon.octicon {
  display: flex;
}

.tree-browser-result .atomIcon.octicon {
  display: inline-block;
}

/* GitHub CodeView */
.react-directory-filename-column {
  gap: 16px !important;
}

.ActionList-content {
  display: flex;
  align-items: center !important;
  gap: 8px;
  margin: 0.5em 0;
}

/* Azure */
.repos-files-hub-page .bolt-table-container .bolt-table-cell-content:not(.flex-column),
.repos-files-hub-page .bolt-table-container .bolt-table-cell-content:not(.flex-column) > div {
  display: flex;
  align-items: center;
  gap: 8px;
}

#__bolt-splitter-fixed-pane0 .bolt-table-container .fabric-icon:not(.bolt-tree-expand-button)::before,
#__bolt-splitter-fixed-pane1 .bolt-table-container .fabric-icon:not(.bolt-tree-expand-button)::before,
#__bolt-splitter-fixed-pane2 .bolt-table-container .fabric-icon:not(.bolt-tree-expand-button)::before,
.repos-files-hub-page .bolt-table-container .fabric-icon:not(.bolt-tree-expand-button)::before {
  display: none;
}